* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.signup-wrapper {
  height: 100vh;
  width: 100%;
  background: url('../assets/background.jpeg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;   
  align-items: center;
  padding-right: 80px;
  margin-right: 600px;        
}

.signup-box {
  width: 400px;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(97, 82, 82, 0.3);

  /* ✅ Animation */
  opacity: 0;
  transform: translateX(100px);
  animation: slideIn 0.8s ease-out forwards;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.signup-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.signup-box input,
.signup-box select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.signup-box button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-box button:hover {
  background: #0056b3;
}

.signup-box p {
  text-align: center;
  margin-top: 10px;
}

.signup-box a {
  color: #007bff;
  text-decoration: none;
}

.signup-box a:hover {
  text-decoration: underline;
}
